app==0.0.1
asyncpg==0.30.0
fastapi==0.135.1
fastapi_users_db_sqlalchemy==7.0.0
numpy==2.4.3
pydantic==2.12.5
python_docx==1.2.0
qdrant_client==1.17.1
Requests==2.32.5
SQLAlchemy==2.0.48
uvicorn==0.34.2
